body {
  background-color: #243b55;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-box {
  background-color: #141e30;
  border-radius: 15px;
  padding: 40px;
  color: white;
  width: 350px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 30px; /* Espaço abaixo do título */
  color: #fff;
}

.cad-box h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}

.cad-box {
  background-color: #141e30;
  border-radius: 15px;
  padding: 40px;
  color: white;
  width: 350px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.user-box {
  position: relative;
  margin-bottom: 30px;
}

.input-user {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  color: #333;
  font-size: 16px;
  width: 100%;
  padding: 10px 10px;
  letter-spacing: 1px;
  transition: .3s;
  box-sizing: border-box;
}

.input-user:focus {
  border: 1px solid #03e9f4;
  box-shadow: 0 0 5px rgba(3, 233, 244, 0.5);
}

.input-user:focus ~ .label-input,
.input-user:not([value=""]) ~ .label-input {
  top: -20px;
  font-size: 13px;
  color: #03e9f4;
  background-color: #141e30;
  padding: 0 5px;
  border-radius: 3px;
}

.label-input {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: .5s;
  color: #888;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0);
  cursor: pointer;
}

input[type="date"] {
  color: #333;
}

#submit {
  background: #03e9f4;
  color: #141e30;
  width: 100%;
  border: none;
  padding: 12px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

#submit:hover {
  background: #50e9f4;
}

.error {
  color: #ff6347;
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

/* Estilo do link de cadastro */
p.link {
  text-align: center;
  margin-top: 25px; /* Espaço abaixo do botão */
  color: #ccc;
}

p.link a {
  color: #03e9f4; /* Cor de destaque para o link */
  text-decoration: none; /* Remove sublinhado padrão */
  transition: color 0.3s ease;
}

p.link a:hover {
  color: #50e9f4; /* Cor mais clara no hover do link */
}

/* Estilo da mensagem de erro */
p.error {
  color: #ff6347; /* Vermelho para mensagens de erro */
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}